<!DOCTYPE html>
{% extends "gallery/base.html" %}
{% block content %}
{%load static %}
<div class="container AboutPage">

  <h1 class="Title">About</h1>

  <div class="row">
    <div class="col-lg-6">
        <p class="AboutText">Hi! My name is Avran </p>

        <p>I am currently a first year undergraduate pursuing a Bacholar's in Mechanical Engineering with a second major in Business</p>
        <p>This is a project site meant to showcase my skills in web designing. I guess it quite strange for an Engineering undergraduate to be designing a website isn't it? Truth be told, Im young and awfully impressionable.. And with an avid curiosity and experimental nature, its needless to say I jump from interest to interest pretty quickly. The decision to pick up coding was fueled by the desire to create and design, as well as remain relevant (I felt left out not understanding how to code..) Im a firm believer in constant exploration and self improvement, and in my conquest to find marketable skills to build a compelling career, I found website designing to not only be able to stimulate me creatively, but also allows me to enjoy the process of building something from the ground up.  </p>
        <p>The phrase "Jack of trades, Master of none" in fact ends off with "better than master of one". Its safe to say that I believe in being a generalist and will jump at any challenges that can provide me with new perspecitves.</p>
    </div>

    <div class="col-lg-6">
      <img id="customprofile" class="profile" src="/static/images/avrans_pic.jpg" alt="">
    </div>
  </div>
</div>

<div class="container AboutPage">
  <h1>Education</h1>

  <p>Nanyang Technical University (Singapore) Mechanical Engineering with a Second Major in Business (Undergraduate)</p>
  <h1 class="Title">Skills</h1>
  <div class="row">
    <div class="col-sm-4 secondrowprog">
        <img srcset="/static/images/python-4.svg" alt="">
    </div>
    <div class="col-sm-4 secondrowprog">
        <img srcset="/static/images/django-community.svg" alt="">
    </div>
    <div class="col-sm-4 secondrowprog">
        <img srcset="/static/images/premiere-cc.svg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6 firstrowprog">
      <img srcset="/static/images/html5.svg" alt="">
    </div>
    <div class="col-lg-4 col-sm-6 firstrowprog">
      <img srcset="/static/images/css3.svg" alt="">
    </div>
    <div class="col-lg-4 col-xs-6 firstrowprog">
      <img srcset="/static/images/javascript-4.svg" alt="">
    </div>

  </div>
  <!--<p>Completed "2020 Python Complete Bootcamp: Zero to Hero"</p>
  <p>Completed "Python and Django Fullstack Web developer Bootcamp"</p>

  <h1 class="Title">Other Skills</h1>

  <p>Rock climbing</p>
  <p>Kayaking and Dragon boating</p>-->



</div>
{% endblock %}
